@inherits LayoutComponentBase

<header>
    <div class="d-flex justify-content-center">
        <h1 class="py-1">Title</h1>
    </div>    
    <NavMenu></NavMenu>
</header>

<Featured />

<main>
    @Body
</main>

<footer class="d-flex justify-content-center">
    <p>Foooooter!</p>
</footer>